* {
    font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 0px;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 0px solid #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#pulseaudio {
    color: #cbcbcb;
    border-radius: 16px;
    padding: 2px 0px 0px 0px;
    margin: 5px 0px 5px 0px;
    opacity: 0.8;
}

#battery {
    color: #cbcbcb;
    border-radius: 15px;
    padding: 2px 0px 0px 0px;
    margin: 5px 0px 5px 0px;
    opacity: 0.8;
}

#battery.charging,
#battery.plugged {
    color: #ffffff;
    background-color: #000000;
}

@keyframes blink {
    to {
        background-color: #000000;
        color: #ffffff;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #000000;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
    color: #cbcbcb;
    border-radius: 15px;
    padding: 2px 0px 0px 0px;
    margin: 5px 0px 5px 0px;
    opacity: 0.8;
}

#custom-system {
    opacity: 0.8;
    color: #cbcbcb;
}

#disk,
#memory,
#cpu,
#language {
    margin: 0px;
    padding: 0px;
    color: #cbcbcb;
}

#language {
    margin-right: 10px;
}

#custom-appmenu {
    color: #cbcbcb;
    border-radius: 15px;
    padding: 0px 0px 0px 10px;
    margin: 3px 0px 3px 14px;
    opacity: 0.8;
}

#custom-exit {
    padding: 0px 30px 0px 0px;
    font-size: 20px;
    color: #cbcbcb;
}

#custom-separator {
    margin: 0px 7px 0px 7px;
    color: #cbcbcb;
}

#clock {
    color: #cbcbcb;
    border-radius: 15px;
    padding: 1px 0px 0px 0px;
    margin: 3px 0px 3px 0px;
    opacity: 0.8;
}
